@model AirBnB.Models.Host
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Name</h2>
<ul>
    <li>Name: Name</li>
    <li>Room Type: Default</li>
    <li>Price: Price</li>
    <li>Available: Available</li>
</ul>

