@model IEnumerable<AirBnB.Models.Host>
@{
    ViewBag.Title = "Hosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hosts</h2>

    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("NewHost", "Host")'">
        Create
    </button>
<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Hosts</th>
        </tr>
        @foreach (var host in Model)
        {
            <tr>
                <th>@Html.ActionLink(host.hostName, "GetHostDetails", "Host", new { id = host.hostId }, null)</th>
            </tr>
        }

    </thead>
    <tbody></tbody>
</table>

